/* Fruit Basket 18/07/2022 by Laura Keating */


* {
    box-sizing: border-box;
    color: #777;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.main-header {
    background-color: rgba(0, 0, 0, .2);
    background-image: url("./images/header-image.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    height: 30em;
}

.header-text {
    font-size: 140%;
    padding:12px;
    color: white;
    background-color:#000;
    letter-spacing: 10px;
    text-align:center;
    opacity:0.75;
}

.display-middle{
    position:absolute;
    top:35%;left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    text-align: center;
    font-size: 140%;
    padding:12px;
    color:#000;
    letter-spacing: 5px;
}

/*BUTTONS*/
.button {
    background-color: black;
    opacity: 0.75;
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
  
.button:hover {opacity: 1}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}


.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/*Shop elements*/
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

/*Cart elements*/

.cart-header {
    font-weight: bold;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}


.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
